{%- extends "base.html" %}

{%- block css %}
<link href="{{url_for('static', filename='css/admin.css')}}" rel="stylesheet">
{%- endblock %}

{%- block content %}
<div class="well">
	<a href=".media-modal" role="button" class="btn btn-add-media" data-toggle="modal">Add Media</a>
	<form class="form" action="" method="post" name="login">
		{{form.hidden_tag()}}
		<div class="control-group{% if form.errors.title %} error{% endif %}">
			<div class="controls">
				{{ form.title(class="span11", placeholder="Title") }}
				{% for error in form.errors.title %}
					<span class="help-inline">{{error}}</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="control-group{% if form.errors.page %} error{% endif %}">
			<div class="controls">
				{{ form.page(class="span11", rows="20") }}
				{% for error in form.errors.page %}
					<span class="help-inline">{{error}}</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input class="btn" type="submit" value="Save Changes">
			</div>
		</div>
	</form>
</div>
{%- include "media_library.html" %}
{%- endblock %}

{%- block scripts %}
<script src="{{url_for('static', filename='js/admin.js')}}"></script>
<script src="{{url_for('static', filename='js/file-upload/vendor/jquery.ui.widget.js')}}"></script>
<script src="{{url_for('static', filename='js/file-upload/jquery.iframe-transport.js')}}"></script>
<script src="{{url_for('static', filename='js/file-upload/jquery.fileupload.js')}}"></script>
{%- endblock %}