<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="South Bay Circus Arts is an arts community based near San Jose, that provides a local opportunity to train, perform, and watch circus arts!">

    <link type="text/plain" rel="author" href="{{url_for('static', filename='humans.txt')}}" />

    {%- if title %}
    <title>{{title}} - South Bay Circus Arts</title>
    {%- else %}
    <title>South Bay Circus Arts</title>
    {%- endif %}

    <!-- Opengraph properties -->
    {%- if ogdescription %}
    <meta property="og:description" content="{{ogdescription|striptags|truncate(250)}}">
    {%- endif %}
    {%- if ogimage %}
    <meta property="og:image" content="{{url_for('static', filename='img/' + post.image, _external=True)}}">
    {%- endif %}

    <!-- Icons -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='img/apple-touch-icon-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='img/apple-touch-icon-72x72-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='img/apple-touch-icon-114x114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='img/apple-touch-icon-144x144-precomposed.png') }}">
    
    <!-- Styling -->
    <!-- Fonts -->
    <link href="{{url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
    
    <!-- Bootstrap -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/bootstrap-responsive.min.css')}}" rel="stylesheet">

    <link href="{{url_for('static', filename='css/jquery-ui-1.10.1.custom.min.css')}}" rel="stylesheet">
    
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    {%- block css %}
    {%- endblock %}
  </head>
  <body>
    <div id="wrap"> <!-- Wrap element for sticky footer. No indent. -->
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="span4">
            <img class="logo" src="{{url_for('static', filename='img/logo.png')}}">
              <div class="logo-bar"></div>
            </img>
          </div>
          <div class="span4 offset1">
            <div class="pusher hidden-phone hidden-tablet"></div>
            <p class="social-header hidden-phone hidden-tablet">Follow us elsewhere:
            <div class="social-icons">
                <a href="http://www.facebook.com/southbaycircusarts" class="tt" data-toggle="tooltip" data-placement="top" title data-original-title="Like us on Facebook!"><i class="icon-facebook"></i></a>
                <a href="https://twitter.com/SouthBayCircus" class="tt" data-toggle="tooltip" data-placement="top" title data-original-title="Follow us on Twitter!"><i class="icon-twitter"></i></a>
                <a href="https://plus.google.com/u/0/103316161784406348940/posts" class="tt" data-toggle="tooltip" data-placement="top" title data-original-title="Follow us on Google Plus!"><i class="icon-google-plus"></i></a>
                <a href="http://www.youtube.com/user/SouthBayCircusArts" class="tt" data-toggle="tooltip" data-placement="top" title data-original-title="Watch us on Youtube!"><i class="icon-play"></i></a>
              </div>
            </div>
          </div>
      </div>
    </header>
    <nav class="navbar navbar-static-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse collapse">
            {%- macro nav_item(name, url, active_path, exact=False) %}
              {%- if exact %}
                {%- set active = (request.path == active_path) %}
              {%- else %}
                {%- set active = (active_path in request.path) %}
              {%- endif %}
              <li{% if active %} class="active"{% endif %}>
                <a{% if active %} class="active"{% endif %} href="{{ url_for(url) }}">{{ name }}</a>
              </li>
            {%- endmacro %}
            <ul class="nav">
              {{- nav_item('Home', 'index', '/', True) }}
              {{- nav_item('About', 'about', '/about') }}
              {{- nav_item('Classes', 'classes', '/classes') }}
              {{- nav_item('Teachers', 'teachers', '/teachers') }}
              {{- nav_item('Blog', 'blog', '/blog') }}
              {{- nav_item('Booking', 'booking', '/booking') }}
              {{- nav_item('Contact Us', 'contact', '/contact') }}
            </ul>
          </div>
        </div>
      </div>
    </nav>
    {%- block precontent %}
    {%- endblock %}
    <section class="container content">
      {%- if not no_separator %}
        <div class="header-separator"></div>
      {%- endif %}
      {%- block content %}
      {%- endblock %}
    </section>
    <div id="push"></div>
    </div> <!-- End stick footer -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="span4">
            <p>For information about upcoming performances, workshops, changes to the class schedule, or to be notified when we add kid's classes, sign up for our <a href="http://eepurl.com/x66Nj">mailing list</a>!
          </div>
          <div class="span4 offset4">
            <hr class="hidden-desktop hidden-tablet">
            <p class="copyright">Copyright South Bay Circus Arts 2013. All Rights Reserved.
          </div>
        </div>
      </div>
    </footer>

    <!-- JavaScript at the bottom for fast page loading -->
    <script src="{{url_for('static', filename='js/jquery-1.9.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery-ui-1.10.3.custom.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/application.js')}}"></script>

    {%- block scripts %}
    {%- endblock %}

    <!-- Asynchronous Google Analytics snippet. -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38198609-1']);
      _gaq.push(['_setDomainName', 'southbaycircus.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>