{%- extends "base.html" %}
{%- block precontent %}

{%- endblock %}
{%- block content %}
<div class="row">
	<div class="span12">
		<section class="main-feature">
	<figure>
		<img src="{{url_for('static', filename='img/' + main_feature.image)}}" alt="">
	</figure>
	<article>
		{{ main_feature }}
	</article>
</section>
		<hr class="soften-small">
		<section class="sub-features">
			<ul class="thumbnails">
				{%- for sub_feature in sub_features %}
				<li class="span4">
				    <article class="thumbnail">
				    	{%- if sub_feature.image_link %}<a href="{{ sub_feature.image_link }}">{%- endif %}
				      	<img src="{{ url_for('static', filename='img/' + sub_feature.image|default('h2h_cropped.jpg')) }}" alt="">
				      	{%- if sub_feature.image_link %}</a>{%- endif %}
				      	<div class="caption">
				      		<h3>{{ sub_feature.title|default('South Bay Circus Arts') }}</h3>
				      		<p>{{ sub_feature }}</p>
				      	</div>
				    </article>
			  	</li>
			  {%- endfor %}
			</ul>
		</section>
	</div>
</div>
<hr class="soften">

{%- endblock %}